# 数据清洗

In [1]:
import numpy as np
import pandas as pd

## mvp球员数据清洗

In [2]:
mvps = pd.read_csv("mvps.csv",header = 1)

In [3]:
mvps.head()

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Unnamed: 21
0,0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992

In [4]:
mvps.rename(columns={'Unnamed: 21':'Year'},inplace=True)
mvps.head()

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992

In [5]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]
mvps.head()

           Player  Year  Pts Won  Pts Max  Share
0  Michael Jordan  1992    900.0      960  0.938
1   Clyde Drexler  1992    561.0      960  0.584
2  David Robinson  1992    337.0      960  0.351
3     Karl Malone  1992    262.0      960  0.273
4   Patrick Ewing  1992    100.0      960  0.104

## 球员数据清洗

In [6]:
players = pd.read_csv("players.csv")
players.head()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,0,1,Alaa Abdelnaby,PF,23,POR,71,1,13.2,2.5,...,1.1,2.5,3.7,0.4,0.4,0.2,0.9,1.9,6.1,1992
1,1,2,Mahmoud Abdul-Rauf,PG,22,DEN,81,11,19.0,4.4,...,0.3,1.1,1.4,2.4,0.5,0.0,1.4,1.6,10.3,1992
2,2,3,Mark Acres,C,29,ORL,68,6,13.6,1.1,...,1.4,2.3,3.7,0.3,0.4,0.2,0.5,2.1,3.1,1992
3,3,4,Michael Adams,PG,29,WSB,78,78,35.8,6.2,...,0.7,3.2,4.0,7.6,1.9,0.1,2.7,2.1,18.1,1992
4,4,5,Rafael Addison,SF,27,NJN,76,8,15.5,2.5,...,0.9,1.3,2.2,0.9,0.4,0.4,0.6,1.4,5.8,1992

In [7]:
del players["Unnamed: 0"]
del players["Rk"]

In [8]:
players.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Alaa Abdelnaby,PF,23,POR,71,1,13.2,2.5,5.1,.493,...,1.1,2.5,3.7,0.4,0.4,0.2,0.9,1.9,6.1,1992
1,Mahmoud Abdul-Rauf,PG,22,DEN,81,11,19.0,4.4,10.4,.421,...,0.3,1.1,1.4,2.4,0.5,0.0,1.4,1.6,10.3,1992
2,Mark Acres,C,29,ORL,68,6,13.6,1.1,2.2,.517,...,1.4,2.3,3.7,0.3,0.4,0.2,0.5,2.1,3.1,1992
3,Michael Adams,PG,29,WSB,78,78,35.8,6.2,15.8,.393,...,0.7,3.2,4.0,7.6,1.9,0.1,2.7,2.1,18.1,1992
4,Rafael Addison,SF,27,NJN,76,8,15.5,2.5,5.7,.433,...,0.9,1.3,2.2,0.9,0.4,0.4,0.6,1.4,5.8,1992

In [9]:
def single_team(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Tm"]=="TOT"]
        row["Tm"] = df.iloc[-1,:]["Tm"]
        return row

In [10]:
players = players.groupby(["Player", "Year"]).apply(single_team)

In [11]:
players

                                   Player Pos Age   Tm   G  GS    MP   FG  \
Player         Year
A.C. Green     1990 17031      A.C. Green  PF  26  LAL  82  82  33.0  4.7
               1991 17527      A.C. Green  PF  27  LAL  82  21  26.4  3.1
               1992 175        A.C. Green  PF  28  LAL  82  53  35.4  4.7
               1993 635        A.C. Green  PF  29  LAL  82  55  34.4  4.6
               1994 1123       A.C. Green  PF  30  PHO  82  55  34.5  5.7
...                                   ...  ..  ..  ...  ..  ..   ...  ...
Željko Rebrača 2002 5647   Željko Rebrača   C  29  DET  74   4  15.9  2.6
               2003 6148   Željko Rebrača   C  30  DET  30  12  16.3  2.7
               2004 6730   Željko Rebrača   C  31  ATL  24   2  11.4  1.4
               2005 7331   Željko Rebrača   C  32  LAC  58   2  16.0  2.3
               2006 7926   Željko Rebrača   C  33  LAC  29   2  14.2  1.8

                            FGA   FG%  ...  ORB  DRB  TRB  AST  STL  BLK  TOV  \
Player         Year                    ...
A.C. Green     1990 17031   9.8  .478  ...  3.2  5.5  8.7  1.1  0.8  0.6  1.4
               1991 17527   6.6  .476  ...  2.5  3.8  6.3  0.9  0.7  0.3  1.2
               1992 175     9.8  .476  ...  3.7  5.6  9.3  1.4  1.1  0.4  1.4
               1993 635     8.6  .537  ...  3.5  5.2  8.7  1.4  1.1  0.5  1.4
               1994 1123   11.3  .502  ...  3.4  5.8  9.2  1.7  0.9  0.5  1.2
...                         ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
Željko Rebrača 2002 5647    5.1  .505  ...  1.1  2.8  3.9  0.5  0.4  1.0  1.1
               2003 6148    4.8  .552  ...  0.9  2.2  3.1  0.3  0.2  0.6  1.0
               2004 6730    3.2  .442  ...  1.0  1.5  2.4  0.3  0.2  0.5  0.7
               2005 7331    4.0  .568  ...  0.8  2.3  3.2  0.4  0.2  0.7  0.8
               2006 7926    3.3  .542  ...  0.4  1.8  2.2  0.3  0.2  0.7  0.8

                            PF   PTS  Year
Player         Year
A.C. Green     1990 17031  2.5  12.9  1990
               1991 17527  1.4   9.1  1991
               1992 175    1.7  13.6  1992
               1993 635    1.8  12.8  1993
               1994 1123   1.7  14.7  1994
...                        ...   ...   ...
Željko Rebrača 2002 5647   2.6   6.9  2002
               2003 6148   2.6   6.6  2003
               2004 6730   2.2   3.8  2004
               2005 7331   2.2   5.8  2005
               2006 7926   2.0   4.7  2006

[15076 rows x 30 columns]

In [12]:
players.index = players.index.droplevel()

In [13]:
players

,,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
Year,,,,,,,,,,,,,,,,,,,,,,
1990,17031,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,3.2,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990
1991,17527,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
1992,175,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
1993,635,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
1994,1123,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,5647,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,.505,...,1.1,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,2002
2003,6148,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,.552,...,0.9,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,2003
2004,6730,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,.442,...,1.0,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,2004
2005,7331,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,.568,...,0.8,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,2005
2006,7926,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,.542,...,0.4,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,2006

In [14]:
players.index = players.index.droplevel()
players

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
17031,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,3.2,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990
17527,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
175,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
635,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
1123,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5647,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,.505,...,1.1,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,2002
6148,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,.552,...,0.9,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,2003
6730,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,.442,...,1.0,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,2004
7331,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,.568,...,0.8,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,2005
7926,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,.542,...,0.4,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,2006

## 连接球员数据和MVP投票数据

In [15]:
## 去掉player前的*，便于后续连接
players["Player"] = players["Player"].str.replace("*","")

C:\Users\jyq\AppData\Local\Temp\ipykernel_79060\479089177.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  players["Player"] = players["Player"].str.replace("*","")

In [16]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"])
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,1.1,0.8,0.6,1.4,2.5,12.9,1990,NaN,NaN,NaN
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN

In [17]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,1.1,0.8,0.6,1.4,2.5,12.9,1990,0.0,0.0,0.0
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0

## 球队数据清洗

In [18]:
teams = pd.read_csv("teams.csv")
teams.head()

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,1992,Atlantic Division
1,1,51,31,.622,—,106.6,103.0,3.41,1992,Boston Celtics*
2,2,51,31,.622,—,101.6,97.7,3.67,1992,New York Knicks*
3,3,40,42,.488,11.0,105.4,107.1,-1.54,1992,New Jersey Nets*
4,4,38,44,.463,13.0,105.0,109.2,-3.94,1992,Miami Heat*

In [19]:
del teams["Unnamed: 0"]

In [20]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)

In [21]:
teams = teams[~teams["W"].str.contains("Division")].copy()
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                Team
1  51  31  .622     —  106.6  103.0   3.41  1992      Boston Celtics
2  51  31  .622     —  101.6   97.7   3.67  1992     New York Knicks
3  40  42  .488  11.0  105.4  107.1  -1.54  1992     New Jersey Nets
4  38  44  .463  13.0  105.0  109.2  -3.94  1992          Miami Heat
5  35  47  .427  16.0  101.9  103.2  -1.34  1992  Philadelphia 76ers

### 导入nickname

In [22]:
nicknames = {'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BKN': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Bobcats',
 'CHH': 'Charlotte Hornets',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NJN': 'New Jersey Nets',
 'NOH': 'New Orleans Hornets',
 'NOP': 'New Orleans Pelicans',
 'NOK': 'New Orleans/Oklahoma City Hornets',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHX': 'Phoenix Suns',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SEA': 'Seattle SuperSonics',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'VAN': 'Vancouver Grizzlies',
 'WAS': 'Washington Wizards',
 'WSB': 'Washington Bullets'}

In [23]:
combined["Team"] = combined["Tm"].map(nicknames)

In [24]:
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,0.8,0.6,1.4,2.5,12.9,1990,0.0,0.0,0.0,Los Angeles Lakers
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns

## 生成最终数据

In [25]:
final_df = combined.merge(teams,how="outer",on=["Team","Year"])
final_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,.470,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,.548,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,.500,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,.470,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74

In [26]:
final_df.dtypes

Player      object
Pos         object
Age         object
Tm          object
G           object
GS          object
MP          object
FG          object
FGA         object
FG%         object
3P          object
3PA         object
3P%         object
2P          object
2PA         object
2P%         object
eFG%        object
FT          object
FTA         object
FT%         object
ORB         object
DRB         object
TRB         object
AST         object
STL         object
BLK         object
TOV         object
PF          object
PTS         object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W           object
L           object
W/L%        object
GB          object
PS/G        object
PA/G        object
SRS         object
dtype: object

In [27]:
final_df.to_csv("player_mvp_stats.csv")